*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

/*  _             _                                   _ 
| |              | |                                 | |
| |__   __ _  ___| | ____ _ _ __ ___  _   _ _ __   __| |
| '_ \ / _` |/ __| |/ / _` | '__/ _ \| | | | '_ \ / _` |
| |_) | (_| | (__|   < (_| | | | (_) | |_| | | | | (_| |
|_.__/ \__,_|\___|_|\_\__, |_|  \___/ \__,_|_| |_|\__,_|
                       __/ |                            
                      |___/                              */
.dark-mode {
    background-color: #222;
}

.nav{
    height: 150px;
    background-color:#009688;
}

.dark-mode .nav{
    background-color: #222;
}

.back{
    height: calc(100vh - 150px);
    background-color:#dddbd1;
}

.dark-mode .back{
    background-color: #4a4a4a;
}

/*              _        _                _                                   _ 
               | |      | |              | |                                 | |
  ___ _ __   __| |______| |__   __ _  ___| | ____ _ _ __ ___  _   _ _ __   __| |
 / _ \ '_ \ / _` |______| '_ \ / _` |/ __| |/ / _` | '__/ _ \| | | | '_ \ / _` |
|  __/ | | | (_| |      | |_) | (_| | (__|   < (_| | | | (_) | |_| | | | | (_| |
 \___|_| |_|\__,_|      |_.__/ \__,_|\___|_|\_\__, |_|  \___/ \__,_|_| |_|\__,_|
                                               __/ |                            
                                              |___/                              */

/*    _           _   
     | |         | |  
  ___| |__   __ _| |_ 
 / __| '_ \ / _` | __|
| (__| | | | (_| | |_ 
 \___|_| |_|\__,_|\__|
                      
                       */

.chat-box{
    position: absolute;

    display: flex;

    height: 100%;
    max-height: calc(100vh - 50px);
    width: 100%;
    max-width: 80%;

    top: 25px;
    left: 50%;
    transform: translate(-50%);
}

/*               _             _   
                | |           | |  
  ___ ___  _ __ | |_ __ _  ___| |_ 
 / __/ _ \| '_ \| __/ _` |/ __| __|
| (_| (_) | | | | || (_| | (__| |_ 
 \___\___/|_| |_|\__\__,_|\___|\__|
                                   
                                    */

.chat-box .contact{
    background-color: white;

    width: 35%;
    height: 100%;

    border-right: 1px solid #e6e5e5;
}

.dark-mode .chat-box .contact{
    background-color: #333333;

    color: white;

    border-right: 1px solid #48484b;
}


.profile {
    height: 70px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #eaeaea;

    padding: 10px;
}

.dark-mode .profile{
    background-color: #4a4a4a;
}


.my-contact {
    display: flex;
}

.my-contact .box-img{
    height: 50px;
    width: 50px;   
}

.my-contact .name{
    display: flex;
    align-items: center;

    padding-left: 10px;
}

.name .my-name {
    font-size: 17px;

    margin: 0;

}

.profile .icon{
    display: flex;
    align-items: center;
    gap: 15px;

    padding-right: 10px;
}

.profile .icon i {
    color: grey;

    font-size: 20px;
}

.notifications {
    height: 80px;
    width: 100%;

    display: flex;

    padding: 15px;

    background-color: #8edafc;

    border-bottom: 1px solid #e6e5e5;
}

.dark-mode .notifications{
    
    background-color: #333333;

    border-bottom: 1px solid #48484b;

}

.notifications i {
    color: #8edafc;

    background-color: rgb(255, 255, 255);
    font-size: 20px;

    padding: 15px 12px;

    border-radius: 25px;
}

.dark-mode .notifications i{
    color: #4a4a4a;
}

.notifications .text {
    display: flex;

    justify-content: flex-start;
    flex-direction: column;
    justify-content: center;

    padding-left: 10px;
}

.text strong{
    font-size: 15px;

    margin-bottom: 5px;
}

.text a{
    color: grey;

    font-size: 14px;
}

.research {
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color:#fafafa;

    border-bottom: 1px solid #e6e5e5;
}

.dark-mode .research{
    
    background-color: #333333;

    border-bottom: 1px solid #48484b;

}

.input-box {
    height: 100%;
    width: 100%;

    padding: 8px;

    display: flex;
    justify-content: center;
}

.input-box .input-button{
    width: 20%;

    border: 1px solid #e6e5e5;
    background-color: #ffffff;
}

.input-button i {
    font-size: 15px;

    color: #a3a2a2;
}

.input-box .input-bar{
    width: 80%;

    padding-left: 10px;

    border: 1px solid #e6e5e5;
}

.list-contact{
    height: calc(100% - 200px);
    overflow-y: scroll;
}

.list-contact ul{
    list-style-type: none;

    padding: 0;
    margin-bottom: 0;
}

ul .list-items {
    display: flex;
    justify-content: space-between;

    padding: 10px;

    overflow: hidden;

    max-height: 70px;
    width: 100%;

    border-top: 1px #e6e5e5 solid ;
}

.dark-mode .list-items {

    border-top: 1px #48484b solid

}

.list-items.active{
    background-color: #e9ebeb;
}

.dark-mode .list-items.active{
    background-color: #5a5a5aaa;
}

.list-items .contact-friend {
    display: flex;
}

.contact-friend .name strong{
    font-size: 15px;
}

.list-items .box-img{
    height: 50px;
    width: 50px;   
}

.box-img img {
    height: 100%;

    border-radius: 25px
}

.list-item .name {
    display: flex;
    flex-direction: column;

    padding-left: 15px;
}

.name strong {
    font-size: 17px;

    margin-bottom: 4px;
}

.dark-mode .name strong {
    color: white;
}

.name span {
    color: grey;

    font-size: 13px;
}

.list-items .access{
    color: grey;

    position: absolute;

    top: 0;

    right: 0;

    font-size: 13px;
}

/*              _                       _             _   
               | |                     | |           | |  
  ___ _ __   __| |______ ___ ___  _ __ | |_ __ _  ___| |_ 
 / _ \ '_ \ / _` |______/ __/ _ \| '_ \| __/ _` |/ __| __|
|  __/ | | | (_| |     | (_| (_) | | | | || (_| | (__| |_ 
 \___|_| |_|\__,_|      \___\___/|_| |_|\__\__,_|\___|\__|
                                                          
                                                           */

/*     _           _    
     | |         | |   
  ___| |__   __ _| |_  
 / __| '_ \ / _` | __| 
| (__| | | | (_| | |_  
 \___|_| |_|\__,_|\__| 
                       
                       */

.chat-box .chat{
    background-color: white;
    width: 65%;
    height: 100%;
}

.chat-message {

    background-image: url(../img/mine.jpg);
    background-size: 54%;

    height: calc(100% - 120px);
    
    overflow-y: scroll;
    overflow-x: hidden;

    padding: 10px 0;
}

.dark-mode .chat-message{

    background-image: url(../img/whatsappdarkmode.jpg);
    background-size: contain;
}

.chat-message .sent {
    width: 100%;

    display: flex;
    justify-content: end;

    padding: 0 20px;

    margin-bottom: 10px;
}

.chat-message .received {
    width: 100%;
    display: flex;
    justify-content: start;

    padding: 0 20px;

    margin-bottom: 10px;
}

.chat-message .default {
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: #00000033;

    margin-bottom: 20px;
}

.dark-mode .default {
    
    background-color: #55555588;

}

.default .chat-text{
    font-size: 20px;
}

.dark-mode .default .chat-text{

    color: white;

}

.default .chat-text p{
    margin: 10px 0;
}

.default .chat-text .date{
    display: flex;
    justify-content: center;

    font-size: 15px;

    position: static;
}

.default .chevron{
    display: none;
}

.chat-text{
    font-size: 13px;

    position: relative;
}

.chat-text .date{
    font-size: 8px;

    right: 6px;
    bottom: 6px;

    position: absolute;
}

.date p{
    margin: 0;
}

.chat-text .chevron {
    padding-right: 5px;

    opacity: 0;

    transition: ease .2s;
}

.chat-text:hover .chevron {
    opacity: 1;
}

.message-option ul {
    list-style-type: none;
}

.my-message {

    background-color: #d5f9ba;

    display: flex;
    justify-content: space-between;

    overflow-wrap: break-word;

    width: 35%;
    padding: 15px 10px 0 10px;

    border-radius: 10px;

}

.dark-mode .my-message{

    background-color: #280b66;

    color: white;

}

.my-message div{
    max-width: 100%;
    overflow-wrap: break-word;
}

.you-message {
    background-color: white;

    display: flex;
    justify-content: space-between;

    overflow-wrap: break-word;

    width: 35%;
    padding: 15px 10px 0 10px;

    border-radius: 10px;
}

.you-message div{
    max-width: 100%;
    overflow-wrap: break-word;
}

.text-input {
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #eaeaea;    
}

.dark-mode .text-input{

    background-color: #333333;

}

.text-input i {

    color: grey;

    padding: 0 30px;

    font-size: 20px;
    
}

.text-input .telegram{

    font-size: 25px;

}

.text-input .input-bar{
    width: 100%;

    padding-left: 10px;
    border-radius: 8px;

    border: 1px solid #e6e5e5;
}

/*              _            _           _   
               | |          | |         | |  
  ___ _ __   __| |______ ___| |__   __ _| |_ 
 / _ \ '_ \ / _` |______/ __| '_ \ / _` | __|
|  __/ | | | (_| |     | (__| | | | (_| | |_ 
 \___|_| |_|\__,_|      \___|_| |_|\__,_|\__|
                                             
                                              */

/* ______ _                  _            _                               _      
| ___ \ |                | |          | |                             | |     
| |_/ / |_ _ __ ______ __| | __ _ _ __| | ________ _ __ ___   ___   __| | ___ 
| ___ \ __| '_ \______/ _` |/ _` | '__| |/ /______| '_ ` _ \ / _ \ / _` |/ _ \
| |_/ / |_| | | |    | (_| | (_| | |  |   <       | | | | | | (_) | (_| |  __/
\____/ \__|_| |_|     \__,_|\__,_|_|  |_|\_\      |_| |_| |_|\___/ \__,_|\___|
                                                                              
                                                                               */

#toggle-btn {
display: inline-block;
width:45px;
height: 25px;
background-color: #009688;
background-image: url('background@2x.png');
background-size: 100%;
border-radius: 24px;
border: white solid 1px;
position: relative;
transition: all ease-in-out .3s; /* animati tutti gli elementi (all), accelerazione ease-in-out, durata 0.4 secondi */
cursor: pointer;
}

#toggle-btn::before {
position: absolute;
width:17px;
height: 17px;
background-color: white;
border-radius: 50%;
left:4px;
top:3px;
content: '';
transition: all ease-in-out .3s;
z-index: 10;
}

#toggle-btn.toggle-btn--dark {
    background-color: #48484b;
}

#toggle-btn.toggle-btn--dark::before {
    left: 23px;
}

/*                     _ _        _                
                   | | |      | |               
 ___  ___ _ __ ___ | | |______| |__   __ _ _ __ 
/ __|/ __| '__/ _ \| | |______| '_ \ / _` | '__|
\__ \ (__| | | (_) | | |      | |_) | (_| | |   
|___/\___|_|  \___/|_|_|      |_.__/ \__,_|_|   
                                                
                                                 */

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

.dark-mode::-webkit-scrollbar-thumb {
    background: #222; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}